.my-carousel {
    position: relative; /* Position relative to the nearest positioned ancestor */
    padding: 0 10%; /* Add horizontal padding */
    overflow: visible; /* Ensure the partially visible slide is not hidden */
}

.my-carousel .slick-list {
    margin: 0 -10%; /* Counteract the padding on .my-carousel */
}

.my-carousel .slick-slide {
    margin: 0 10px; /* Add horizontal margin to slides */
}

/* Adjust padding for smaller screens */
@media screen and (max-width: 768px) {
    .my-carousel {
        padding: 0 5%; /* Reduce padding */
    }

    .my-carousel .slick-list {
        margin: 0 -5%; /* Adjust negative margin */
    }

    .my-carousel .slick-slide {
        margin: 0 5px; /* Adjust slide margin */
    }
}

/* Styles for the container of each item in the carousel */
.item-container {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
}

/* Styles for h4 elements */
h4 {
    text-align: center; /* Center text */
    font-size: small;
}

/* Increase font size for larger screens */
@media screen and (min-width: 768px) {
    h4 {
        font-size: medium;
    }
}

/* Styles for the container of the navigation dots */
.my-carousel .slick-dots {
    position: absolute; /* Position relative to the nearest positioned ancestor */
    bottom: 25px; /* Position at the bottom of the carousel */
    list-style: none; /* Remove default list styles */
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    width: 100%; /* take 50% of the .my-carousel container  */
}

/* Styles for each navigation dot */
.my-carousel .slick-dots li {
    margin: 0 5%; /* Add horizontal margins */
}

/* Styles for the button of each navigation dot */
.my-carousel .slick-dots li button {
    display: block; /* Display as block */
    width: 1vh; /* Set width */
    height: 1vh; /* Set height */
    padding: 0.25vh; /* Add padding */
    cursor: pointer; /* Change cursor to pointer on hover */
    border: 0; /* Remove border */
    outline: none; /* Remove outline */
    background: #181818; /* Set background color to black */
    border-radius: 50%; /* Make it circular */
}

/* Styles for the button of the active navigation dot */
.my-carousel .slick-dots li.slick-active button {
    background: #0E9C4B; /* Set background color to bright green */
}